.gallery {
    max-width: 100%;
    margin: 0 auto;
    column-count: 4;
    font-family: arial;
    padding: 0 2rem;
  }
  .gallery-item {
    break-inside: avoid;
    margin-bottom: 16px;
    backdrop-filter: blur(7px);
    border-radius: 14px;
    box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.2), inset -8px -8px 16px 0px rgba(157, 177, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
  }
  .gallery-image img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .gallery-description {
    display: flex;
    position: absolute;
    gap: 0.5em;
    flex-direction: column;
    background: #7777f959;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: #000000;
    height: 0px;
    width: 100%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
  }

    .gallery-item:hover {
        box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.5);
    }
    .gallery-item:hover .gallery-description{
        height: 95%;
        width: 100%;
        padding: 1rem;
    }
    .gallery-item:active {
     transform: scale(0.95);
    border: 1px solid blue;
    }
  
  .text-body {
    font-size: 1rem;
    font-weight: 700;
    color:cyan;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
  }

  @media screen and (max-width: 500px) {
    .gallery {
      column-count: 1;
    }
  }
  @media screen and (min-width: 501px) and (max-width: 700px) {
    .gallery {
      column-count: 2;
    }
  }
  @media screen and (min-width: 701px) and (max-width: 900px) {
    .gallery {
      column-count: 3;
    }
  }